<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        <link rel="stylesheet" href="{{ asset('assets/vendor/bootstrap/dist/css/bootstrap.min.css') }}">
        {% include "::stylesheets.html.twig" %}
    </head>
    <body>
        <div class="main">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">Open GTD Management Console</a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            <li><a href="{{ path('user_index') }}">Users</a></li>
                            {% endif %}
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <img src="{{ gravatar(app.user.email) }}" /> {{ app.user.username }} <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ path('fos_user_profile_edit') }}">Profile</a></li>
                                        <li><a href="{{ path('fos_user_change_password') }}">Change password</a></li>
                                        <li role="separator" class="divider"></li>
                                        <li><a href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a></li>
                                    </ul>
                                </li>
                            {% else %}
                                {#<li><a href="{{ path('fos_user_registration_register') }}">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a></li>#}
                                <li><a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a></li>
                            {% endif %}
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>

            {% for type, messages in app.session.flashbag.all() %}
                {% if type == 'success' %}
                    {% for message in messages %}
                        <div class="alert alert-success">
                            <strong>Success!</strong> {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
                {% if type == 'info' %}
                    {% for message in messages %}
                        <div class="alert alert-info">
                            <strong>Info!</strong> {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
                {% if type == 'warning' %}
                    {% for message in messages %}
                        <div class="alert alert-warning">
                            <strong>Warning!</strong> {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
                {% if type == 'error' %}
                    {% for message in messages %}
                        <div class="alert alert-danger">
                            <strong>Error!</strong> {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endfor %}

            {% block body %}{% endblock %}
        </div>

        <div id="footer">
            Powered by: <a href="https://github.com/open-gtd/server">Open GTD</a>
        </div>

        {% block javascripts %}{% endblock %}

        <script src="{{ asset('assets/vendor/jquery/dist/jquery.min.js') }}"></script>
        <script src="{{ asset('assets/vendor/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    </body>
</html>
