{% extends 'base.html.twig' %}

{% block body %}
    <h1>User</h1>

    <a class="btn btn-default" href="{{ path('users.user.index') }}">Back to the list</a>
    <a class="btn btn-default" href="{{ path('users.user.edit', { 'id': user.id }) }}">Edit</a>

    <table class="table table-striped table-hover">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Username</th>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
        </tbody>
    </table>


    {{ form_start(delete_form) }}
        <input class="btn btn-default" type="submit" value="Delete">
    {{ form_end(delete_form) }}
{% endblock %}
